<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="src-conn" value="mongodb://halliburtonmongo:be3SrddEXciHKLREdJC4VY32BWZcAncG4eb67kwjOs3GnWrOYGt9ovgyPgbhb2cxWzLgC8d0yQiXKgoMAz4pjA==@halliburtonmongo.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb"></add>
    <add key="dest-conn" value="mongodb://halliburtonmongo:be3SrddEXciHKLREdJC4VY32BWZcAncG4eb67kwjOs3GnWrOYGt9ovgyPgbhb2cxWzLgC8d0yQiXKgoMAz4pjA==@halliburtonmongo.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb"></add>
    <add key="srcDbName" value="perf2"/>
    <add key="srcCollectionName" value="charge"/>
    <add key="destDbName" value="perf2"/>
    <add key="destCollectionName" value="d2"/>
    <add key="failedDocsPath" value="failed.csv"></add>
    <add key="batchsize" value="50"/>
    <add key="insertRetries" value="10"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>